USE [master]
GO
/****** Object:  Database [DAn_Web2]    Script Date: 17/06/2015 10:30:34 CH ******/
CREATE DATABASE [DAn_Web2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DAn_Web2', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER2014\MSSQL\DATA\DAn_Web2.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DAn_Web2_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER2014\MSSQL\DATA\DAn_Web2_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DAn_Web2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DAn_Web2]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 17/06/2015 10:30:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Comment](
	[IDCmt] [int] IDENTITY(1,1) NOT NULL,
	[UserCmt] [varchar](50) NOT NULL,
	[NoiDung] [nvarchar](4000) NOT NULL,
	[MaSP] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[IDCmt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChiTietDH]    Script Date: 17/06/2015 10:30:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietDH](
	[MaDH] [int] NULL,
	[MaSP] [varchar](100) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [varchar](50) NULL,
	[TongTien] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChungLoai]    Script Date: 17/06/2015 10:30:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChungLoai](
	[MaCL] [int] NOT NULL,
	[TenCL] [nvarchar](100) NULL,
 CONSTRAINT [PK_ChungLoai] PRIMARY KEY CLUSTERED 
(
	[MaCL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 17/06/2015 10:30:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[NgayDatHang] [datetime] NULL,
	[HoTen] [nvarchar](50) NULL,
	[SDT] [char](15) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[TinhTrang] [int] NULL,
	[GhiChu] [nvarchar](1000) NULL,
	[Tongtien] [int] NULL,
 CONSTRAINT [PK_DonDatHang] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Loai]    Script Date: 17/06/2015 10:30:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai](
	[MaLoai] [nvarchar](100) NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
	[MaCL] [int] NULL,
 CONSTRAINT [PK_Loai] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 17/06/2015 10:30:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[MaSP] [varchar](100) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[Gia] [varchar](50) NOT NULL,
	[MoTa] [nvarchar](4000) NULL,
	[LoaiSP] [nvarchar](100) NOT NULL,
	[Hinh] [varchar](1000) NULL,
	[HeDieuHanh] [nvarchar](100) NULL,
	[LuotXem] [int] NULL,
	[NgayDangSP] [datetime] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 17/06/2015 10:30:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserName] [varchar](50) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[DienThoai] [char](15) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Admin] [int] NOT NULL CONSTRAINT [DF_User_Admin]  DEFAULT ((0)),
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([IDCmt], [UserCmt], [NoiDung], [MaSP]) VALUES (3, N'hoangthienkiem', N'hello', N'sony01')
INSERT [dbo].[Comment] ([IDCmt], [UserCmt], [NoiDung], [MaSP]) VALUES (4, N'hoangthienkiem', N'hello boy', N'htc02')
INSERT [dbo].[Comment] ([IDCmt], [UserCmt], [NoiDung], [MaSP]) VALUES (7, N'asd', N'ok baby', N'htc02')
SET IDENTITY_INSERT [dbo].[Comment] OFF
INSERT [dbo].[ChungLoai] ([MaCL], [TenCL]) VALUES (1, N'Điện thoại')
INSERT [dbo].[ChungLoai] ([MaCL], [TenCL]) VALUES (2, N'Máy tính bảng')
INSERT [dbo].[ChungLoai] ([MaCL], [TenCL]) VALUES (3, N'Phụ kiện')
INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [MaCL]) VALUES (N'asus', N'Asus', 1)
INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [MaCL]) VALUES (N'bphone', N'BPhone', 1)
INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [MaCL]) VALUES (N'htc', N'HTC', 1)
INSERT [dbo].[Product] ([MaSP], [TenSP], [Gia], [MoTa], [LoaiSP], [Hinh], [HeDieuHanh], [LuotXem], [NgayDangSP]) VALUES (N'asus01', N'Asus Zenfone 2 2.3Ghz', N'7490000', N'Màn hình:	IPS+ LCD, 16 triệu màu, 5.5", 1080 x 1920 pixels CPU:	Intel Atom Z3580, 4 nhân, 2.3 GHz RAM	4GB Hệ điều hành:	Android 5.0 (Lollipop) Camera chính:	13 MP, Quay phim FullHD 1080p@30fps Camera phụ:	5 MP Bộ nhớ trong:	64 GB Thẻ nhớ ngoài:	64 GB Dung lượng pin:	3000 mAh', N'asus', N'zenfone223ghz.jpg', N'Android', 17, CAST(N'2015-06-16 23:23:47.000' AS DateTime))
INSERT [dbo].[Product] ([MaSP], [TenSP], [Gia], [MoTa], [LoaiSP], [Hinh], [HeDieuHanh], [LuotXem], [NgayDangSP]) VALUES (N'asus02', N'Asus Zenfone 6', N'5490000', N'Màn hình:	HD, 6.0", 720 x 1280 pixels CPU:	Intel Atom Z2560, 2 nhân, 1.6 GHz RAM	2 GB Hệ điều hành:	Android 4.3 (Jelly Bean) Camera chính:	13 MP, Quay phim FullHD 1080p@30fps Camera phụ:	2.0 MP Bộ nhớ trong:	16 GB Thẻ nhớ ngoài:	64 GB Dung lượng pin:	3300 mAh', N'asus', N'zenfone6.jpg', N'Android', 3, CAST(N'2015-06-16 23:25:46.000' AS DateTime))
INSERT [dbo].[Product] ([MaSP], [TenSP], [Gia], [MoTa], [LoaiSP], [Hinh], [HeDieuHanh], [LuotXem], [NgayDangSP]) VALUES (N'bphone01', N'Bphone - 16GB', N'10990000', N'Màn hình:	IPS-LCD, 5.0", 1080 x 1920 pixels CPU:	Snapdragon 801, 4 nhân, 2.5 GHz RAM	3GB Hệ điều hành:	BOS (Android 5.0) Camera chính:	13 MP, Quay phim FullHD 1080p@60fps Camera phụ:	5 MP Bộ nhớ trong:	16 GB Thẻ nhớ ngoài:	Không Dung lượng pin:	3000 mAh', N'bphone', N'bphone16.jpg', N'Android', 6, CAST(N'2015-06-15 22:51:25.000' AS DateTime))
INSERT [dbo].[User] ([UserName], [Password], [HoTen], [Email], [DienThoai], [DiaChi], [Admin]) VALUES (N'abc', N'123', N'abc', N'abc@yahoo.com', NULL, N'abc 123', 0)
INSERT [dbo].[User] ([UserName], [Password], [HoTen], [Email], [DienThoai], [DiaChi], [Admin]) VALUES (N'asd', N'123', N'asd', N'asd', NULL, N'sasfsd', 0)
INSERT [dbo].[User] ([UserName], [Password], [HoTen], [Email], [DienThoai], [DiaChi], [Admin]) VALUES (N'hoangthienkiem', N'123456', N'Hoàng Thiên Kiếm', N'abc@yahoo.com', N'01223334444    ', N'abc 123', 1)
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Product] FOREIGN KEY([MaSP])
REFERENCES [dbo].[Product] ([MaSP])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Product]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User] FOREIGN KEY([UserCmt])
REFERENCES [dbo].[User] ([UserName])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_User]
GO
ALTER TABLE [dbo].[ChiTietDH]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDH_DonDatHang] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonDatHang] ([MaDH])
GO
ALTER TABLE [dbo].[ChiTietDH] CHECK CONSTRAINT [FK_ChiTietDH_DonDatHang]
GO
ALTER TABLE [dbo].[ChiTietDH]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDH_Product] FOREIGN KEY([MaSP])
REFERENCES [dbo].[Product] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietDH] CHECK CONSTRAINT [FK_ChiTietDH_Product]
GO
ALTER TABLE [dbo].[Loai]  WITH CHECK ADD  CONSTRAINT [FK_Loai_ChungLoai] FOREIGN KEY([MaCL])
REFERENCES [dbo].[ChungLoai] ([MaCL])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Loai] CHECK CONSTRAINT [FK_Loai_ChungLoai]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Product] FOREIGN KEY([LoaiSP])
REFERENCES [dbo].[Loai] ([MaLoai])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Product]
GO
USE [master]
GO
